@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@400;700&display=swap');
.App {
  text-align: center;
}
* {

}
body {
  width: 100vw;
  height: 100vh;
}

table {
  border-collapse: collapse;
}
th {
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  background: #F2F2F2;
  align-items: center;
  min-width: 73px;
}
td, th {
  border: 1px solid #B9B9B9;
}

.name {
  padding-left: 8px;
  text-align: start;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.contract {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: start;
}

.hours_and_money {
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  line-height: 16px;
}